body {
    overflow-y: scroll;
}

textarea {
    font-family: monospace;
}

#post-list > .list-group-item {
    padding: 5px;
    cursor: pointer;
}

.post-item-img {
    flex-basis: 120px;
    height: 68px;
    flex-shrink: 0;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #000;
    margin-right: 5px;
}

.post-item-title {
    max-height: 3em;
    overflow: hidden;
}

.gfycat-close {
    z-index: 1500;
    top: 0;
    right: 0;
    border-radius: 0;
    font-family: monospace;
    line-height: 1;
    border: 0;
    opacity: 0.2;
}
.gfycat-close:hover {
    opacity: 1;
}

.badge-reddit {
    color: #fff;
    background-color: #ff4500;
}

.badge-reddit[href]:hover, .badge-reddit[href]:focus {
    color: #fff;
    text-decoration: none;
    background-color: #cc3700;
}

.badge-gfycat {
    color: #fff;
    background-color: #2475ff;
}

.badge-gfycat[href]:hover, .badge-gfycat[href]:focus {
    color: #fff;
    text-decoration: none;
    background-color: #0059f0;
}

.modal-dialog {
    margin: 10px auto;
    max-width: none;
}
